<h1>Todo (<%= @active_items.size + @completed_items.size %>)</h1>
<h2>Active (<%= @active_items.size %>)</h2>
<ul>
  <% @active_items.each_with_index do |item, index| %>
    <li>
      <input type="checkbox" checked="false" id="<%= index %>">
        <%= item %>
      </input>
    </li>
  <% end %>
</ul>
